@import 'src/scss/_variables';
@import 'src/scss/_custom';
@import 'src/scss/_utilities';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--bs-dark);
  background: var(--bs-background);
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

hr {
  height: 3px !important;
  opacity: 1;
  color: var(--bs-light);
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

// /* Hide scrollbar for Chrome, Safari and Opera */
// ::-webkit-scrollbar {
//   display: none;
// }

// /* Hide scrollbar for IE, Edge and Firefox */
// * {
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }
